* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Merriweather", serif;
}
/*
Hero Section Styles
*/
.banner-container {
  max-width: 884.4px;
  height: 402px;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
  background-image: url(../images/Banner\ Image.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 10px;
}
.banner-content {
  /* max-width: 632px; */
  height: 402px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner-content p {
  font-size: 21.44px;
  font-weight: 400;
  line-height: 26.8px;
  color: rgb(255, 255, 255);
}
.banner-content h1 {
  font-size: 48.24px;
  font-weight: 900;
  text-align: center;
  line-height: 60.3px;
  color: rgb(255, 255, 255);
}
/*
Catagories off Section Styles
*/
.catagories-off-container {
  max-width: 537.94px;
  height: 540px;
  margin: 80.4px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
.catagories-off-container h1 {
  color: rgb(255, 0, 0);
  font-size: 58.96px;
  font-weight: 700;
  line-height: 71.69px;
  font-family: Inter;
}
.catagories-off-container p {
  color: rgb(255, 0, 0);
  font-size: 16.08px;
  font-weight: 500;
  line-height: 19.43px;
  font-family: Inter;
  margin: 32.16px 0 10.72px 0;
}
.catagories-off-container h4 {
  color: rgb(7, 2, 17);
  font-size: 32.16px;
  font-weight: 700;
  line-height: 38.86px;
  font-family: Inter;
}
.catagories-off-container .catagories-image {
  width: 537.943;
  height: 335px;
}
.catagories-off-container .catagories-image img {
  width: 100%;
}
/*Midnight Party Styles*/
.midnight-party-container {
  max-width: 884.4px;
  height: 402px;
  margin: 80.4px auto;
  background-image: url(../images/Vectorrr.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: overlay;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.midnight-left-side-content {
  width: 70%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.midnight-left-side-content h1 {
  color: rgb(255, 255, 255);
  font-family: Merriweather;
  font-size: 42.88px;
  font-weight: 900;
  line-height: 58.96px;
  letter-spacing: 7.37%;
}
.midnight-left-side-content p {
  font-size: 10.67px;
  font-weight: 400;
  line-height: 20.1px;
  margin-left: 92.42px;
  margin: 16.08px 0 32.16px 92.42px;
}
.midnight-left-side-content .jn-btn {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 13.4px;
  font-weight: 700;
  line-height: 16.08px;
  margin-right: 235px;
  cursor: pointer;
}
.midnight-right-side-content {
  width: 50%;
  height: auto;
  display: flex;
  justify-content: center;
}
.midnight-right-side-content img {
  width: 233.9372px;
}
/*Join Meeting  Styles*/
.join-meeting-container {
  max-width: 884.4px;
  height: 402px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1),
    rgba(255, 0, 0, 0) 100%
  );
}
.meeting-details {
  /* width: 367.83px; */
  height: 182.24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
}
.meeting-description h5 {
  font-family: Inter;
  color: #070211;
  font-size: 21.44px;
  font-weight: 700;
  line-height: 37.52px;
  text-align: center;
  text-transform: capitalize;
}
.meeting-description h5 span {
  font-family: Inter;
  color: #ff0000;
  font-weight: 600;
}
.meeting-btn a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}
.meeting-btn .join-now-btn {
  background: #ff0000;
  padding: 10px 16px;
  border: transparent;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-family: Inter;
  font-size: 13.4px;
  font-weight: 700;
  line-height: 16.08px;
  cursor: pointer;
}
